<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시판 디테일</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container">

        <div class="content">

            <table>

                <thead>
                <tr>
                    <th>게시판 이름</th>
                    <th>게시글 번호</th>
                    <th>게시글 제목</th>
                    <th>게시글 작성자</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <span th:text="${board.name}"></span>
                    </td>
                </tr>
                <tr th:each="article : ${board.articleListDTO}">
                    <td>
                        <span th:text="${article.id}"></span>
                    </td>
                    <td>
                        <a th:href="@{~/articles/} + ${article.id}">
                            <span th:text="${article.title}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${article.nickname}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>